<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styledept.css">
</head>

<body>

    <%- include("home.ejs") %>
            <br><br>
        
            <div class="wrapper"></div>
            <form  name="frm" action="/adddept" method="post">
        
            <div class="cointainer">
                <div class="form-group">
                    <input type="text" class="" name="name" value="" placeholder="Enter Dept Name" />
                </div>


                <div class="form-group">
                    <input type="submit" class="btn btn-primary controls" name="s" value="Add New Dept" />
                </div>

                <% 
                if(msg.length!=0){
                 %>
                    <div class="alert alert-success" role="alert"  id="bt">
                <%=msg%>
                    </div>
                    <% }
                     %>
   
            </div>
             
            </div>
           

      
</body>

</html>