<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%-include("home.ejs")%>
    <br><br>
    <form action="/saveCategory" method="post">
        <div class="container p-5 bg-dark" >
            <div class="form-group">
            <input type="text" name="category" id="" class="form-control" value="" />
    </div>
    <div class="form-group">
        <input type="submit" name="" id="" class="form-control bg-primary" value="Add Category">

        </div>
        <%
        if(msg.length!=0){
        %>
        <div class="form-control btn-success">
                <%=msg%>
                </div>
         <%
        }
         %>
    </form>
    </div>

    
</body>
</html>