<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%-include("home.ejs")%>
    <form action="/addfoodi" method="post">
        <div class="container p-5 " >
            
          <div class="form-group">
              <input type="text" name="name" id="" class="form-control control" value="" placeholder="Enter Name" />
         </div>
          <div class="form-group">
              <input type="text" name="price" id="" class="form-control control" value="" placeholder="Enter Price" />
         </div>

          <div class="form-group">
              <input type="text" name="availabel" id="" class="form-control control" value="" placeholder="Enter availability" />
         </div>
          <div class="form-group">
           <select name="cid" id="" class="form-control control">
                <option value="">Choose Dept</option>
                <%
                  for(let i=0;i<CatList.length;i++){
                  %>
                  <option value="<%=CatList[i].category_id %>"><%=CatList[i].category%></option>
                  <%
                };
                %>
           </select>
        </div>
    <div class="form-group">
        <input type="submit" name="" id="" class="form-control bg-primary" value="Add Food">

        </div>
         <%
        if(msg.length!=0){
        %>
        <div class="form-control btn-success">
                <%=msg%>
                </div>
         <%
        }
         %>
    </form>
    </div>
    
</body>
</html>