<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
         <div class="container"> <form action="/table" method="post"> 
            <input type="text" name="num" value="" placeholder="Enter a number"/>&nbsp; &nbsp;
            <input type="submit" name="sub" value="Print Table"/>
        </form>

        <% if(no != 0) 
        { 
            %> <br>
            <table width="80%" border="3">
                <tr> 
                    <th>Iteration</th> <th>X</th><th>Number</th> <th>=</th><th>Result</th></tr>
                <%
                 for(var i=1; i < 11; i++) 
                 {
                     %>
                    <tr align="center"><td><%=i%></td><td>X</td><td><%=no%></td><td>=</td><td><%=i * no%></td></tr>
                <%
             } 
             %>
            </table>
        <% } %>
    </div>
</body>
</html>