* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(57, 40, 6), rgb(231, 215, 95), rgb(242, 213, 50), rgb(36, 26, 6));

}

.signpage {
    height: 580px;
    width: 500px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
   background: linear-gradient(to top, rgb(95, 6, 6),red, orange, yellow);   
    border-radius: 20px;
    color: black;
      border: none;
    box-shadow: 0px 0px 80px white;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}
.mai{
      display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
   
}

input,option,select{
    height: 40px;
    width: 400px;
    /* text-align: center; */
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(217, 236, 253);
}

button {
    height: 40px;
    width: 300px;
    background: linear-gradient(to top, rgb(2, 9, 17), rgb(129, 129, 198), rgb(11, 5, 17)); 
    color: white;
    border:none;
    border-radius: 40px;
}