body{
    height: 100vh;
    width: 100vw;
    background-image: url("./foodbg2.jpeg");
    background-size: 100% 100% ;
    background-repeat: no-repeat;
}

.heder{
    height: 70px;
    width: 100%;
    display: flex;
   color: white;
    align-items: center;
    text-align: center;
    padding-left: 40px;
    gap: 40px;
    justify-content: flex-start;
    background-color: rgb(158, 158, 144);
}
a{
    color: white;
}


.container{
    background-color: rgb(43, 41, 68);
    width: 900px;
    margin-top: 20px;
}
.control {
    background-color: rgb(212, 242, 247);
}