.control{
    height: 40px;
    width: 400px;
}
#frm{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contant{
    height: 400px;
    width: 600px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgb(106, 103, 103);
     /* background: linear-gradient(to top, rgb(27, 17, 81), rgb(13, 64, 78), rgb(15, 94, 103)); */
}
.container{
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    height: 500px;
    background-color: white;
    box-shadow: 10px 10px 60px black;
    background-size: cover;
}
.upper{
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    color: rgb(10, 10, 101);
  
}
.lower{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap:20px;
}

.sec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#r{
    height: 40px;
    width: 300px; 
    border: none;
    background-color: rgb(224, 226, 195);
}



#r:hover{
   
    background-color: rgb(59, 67, 99);
    color: aliceblue;
}
#bt{
    height: 40px;
    width: 150px; 
    background-color: rgb(30, 137, 167);
    border: none;
    border-radius: 10px;
    color: aliceblue;
}
#bt:hover{
   
    background-color: rgb(29, 15, 52);
    color: aliceblue;
}

.sec img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 20px black);
}
p{
   
    display: inline;
   
}
span{
    font-size: 15px;
}
a{
text-decoration: none;
}
a:hover
{
    text-decoration: none;
}